





// ===================ВАЛИДАЦИЯ============

.error-input{
    width: 50%;
    height: 44px;
    border: 2px solid #ff6a6a;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
}



.error-message{
    color:#ff6a6a;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* CSS для анимированного индикатора загрузки */
.loading-spinner {
    border: 16px solid #f3f3f3; /* серый */
    border-top: 16px solid #3498db; /* синий */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto; /* Центрирование */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Скрываем индикатор загрузки, когда страница загружена */
body.loaded .loading-spinner {
    display: none;
}


.container_tb{
    width: 75%;
    margin: 0 auto;
    
    border-radius: 15px;
    margin-top: 3rem;

    .table-flex{
        overflow-x: auto;
    }
}



.tb_members{
    
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    
    
    
    
    
    

    
    thead{
                
        
        
        tr{
           
            
            
           th{
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: #4e77f4;
                color: #fff;

                
            
           }
           th:nth-child(2){
            
                
                
             }
           
        }
    }

    tbody{
       
        
        tr{
            transition: all .3s;
            
            
            
            
            
            td{
                
                text-align: center;
                padding: 20px;
                vertical-align: middle;
                
                
                

                
                
                

                a{

                    
                    img{
                        width: 40px;
                    }
                }
            
                

                button{
                    text-decoration: none;
                    border-radius: 10px;
                    background-color: #4e77f4;
                    color: #fff;
                    padding: 5px 5px;
                    align-items: center;
                    font-weight: 600;
                    width: 127px;
                    text-align: center;
                    border: none;
                    font-family: 'Montserrat', sans-serif;
                }
                .ava_memb{
                   
                    margin-bottom: 10px;
                    
                   img{
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                    pointer-events: none;
                    user-select: none;
                   }
                    
                }
               
            }
            

            td:not(:last-child){
                border-right: 1px solid rgb(178 197 255 / 64%);
            }

           
            
            
            
        }

        tr:hover{
            background-color: rgb(178 197 255 / 64%);
        }
        tr:nth-child(even):hover{
            background-color: rgb(178 197 255 / 64%);
        }

        tr:nth-child(even){
            background-color: #b2c5ff38;
         }

        
    }

}



@media (max-width: 1000px){
    .tb_members{
        display: block;
        width: 100%;
    }
    .tb_members thead,
    .tb_members tbody,
    .tb_members thead th
    {
        display: block;
    }

    .tb_members thead {
        float: left;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .tb_members thead th:first-child {
        
        padding-top: 64px;
        padding-bottom: 51px;
    }

    .tb_members thead th:last-child {
        
        padding-bottom: 0;
    }
    .tb_members tbody tr td:first-child {
        height: 104px;
    }

    .tb_members tbody tr td:last-child {
        margin-bottom: 5px;
    }

    .tb_members thead th {
        width: 144px;
        height: 50px;
    }
    .tb_members tbody {
        overflow-x: auto;
    }

    .tb_members thead tr {
        
        

    }
    .container_tb {
        width: 95%;
    }

    .tb_members tbody tr {
        display: table-cell;
        border-right: 1px sollid #ccc;

    }

    .tb_members td {
        display: block;
        
    }

    .tb_members tbody tr:last-child {
        border-right: none;
    }
    .tb_members td{
        border-right: none;
    }

    .tb_members td, .tb_members th {
        
    }

}

@media (max-width: 500px){

    .tb_members thead th {
        width: 105px;
        font-size: 16px;
        
    }

    .tb_members thead th:first-child {
        padding-top: 90px;
        padding-bottom: 18px;
    }

    .tb_members thead th:last-child {
        
        padding-bottom: 5;
    }
}









// СТРАНИЦА ВОЛОНТЕРА

.member-block{
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
   

    .member-firts{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        border-radius: 15px;
        background: #fff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);

        .member-avatars{
            img{
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%;
                pointer-events: none;
                user-select: none;
                border: 4px solid #4e77f4; /* Цвет и толщина рамки */
                /* Необязательная тень для эффекта высоты */
            }
        }

        img{
            pointer-events: none;
            user-select: none;
                    
        }

        .member-btn-admin-block{
            display: flex;
            flex-direction: column;

            .member-btn{
                display: flex;
                flex-direction: column;
                margin-top: 15px;
                p{
                    text-align: center;
                    margin-bottom: 10px;
                }
                a{
                    text-decoration: none;
                    border-radius: 25px;
                    background-color: #4e77f4;
                    color: #fff;
                    padding: 10px 15px;
                    align-items: center;
                    font-weight: 500;
                    width: 87%;
                    text-align: center;
                    border: none;
                    font-family: 'Montserrat', sans-serif;
                    img{
                        width: 20px;
                        margin-right: 10px;     
                    }
                    
                }
    
                form{
                    width: 100%;
                    button{
                        text-decoration: none;
                        border-radius: 25px;
                        background-color: #D9D9D9;
                        color: #000;
                        padding: 10 15px;
                        align-items: center;
                        font-weight: 500;
                        width: 100%;
                        text-align: center;
                        border: none;
                        font-family: 'Montserrat', sans-serif;
                        display: flex;
                        justify-content: center;
                        margin-top: 10px;
                        img{
                            width: 20px;     
                        }
                    }
                }
            }
    
            .member-admin{
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                margin-top: 15px;
                p{
                    font-weight: 400;
                }
                a{
                    text-decoration: none;
                    border-radius: 25px;
                    background-color: #f4f14e;
                    color: #3F3E46;
                    padding: 10px 15px;
                    align-items: center;
                    font-weight: 500;
                    width: 87%;
                    text-align: center;
                    border: none;
                    font-family: "Montserrat", sans-serif;
                    img{
                    
                    }
                }
            }

        }

        

        
        .member-stat-social-block {
            display: flex;
            margin-top: 15px;
            gap: 15px;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            
            .member-stat{
                display: flex;
                flex-direction: column;
                align-items: center;
               
    
                h2{
                    margin-bottom: 20px;
                    font-weight: 600;
                    
                    img{
                       width: 30px;
                       margin-right: 3px;
                    }
                }        
                h2:first-child{
                    
                    margin-bottom: 10px;
                    font-weight: 400;
                    
                }
    
                
    
    
            }
    
            .member-social{
    
                display: flex;
                align-items: center;
                flex-direction: column;
    
                .member-social-img{
                    margin-top: 10px;
                    margin-bottom: 30px;
                    img{
                        width: 30px;
                    }
                }
            }
        }  
        
        
        
    }

    .member-second{
        display: flex;
        flex-direction: column;
        align-items: start;
        border-radius: 15px;
        width: 60%;
       
        
        
       

        .member-info-main{
            background: #fff;
            width: 100%;
            
            padding: 30px 0 30px 30px;
            border-radius: 15px;
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);

            .member-name{
                display: flex;
                align-items: center;
                margin-top: 10px;
                column-gap: 15px;
                flex-wrap: wrap;
                row-gap: 15px;
                
                
                
                h1{
                   font-size: 26px;
                   
                   color: #4e77f4;
                }
              }
       
              .member-info{
               display: flex;
               align-items: center;
               flex-wrap: wrap;
               margin-top: 40px;
               row-gap: 15px;
               justify-content: space-evenly;
               
                   .member-group{
                       display: flex;
                       flex-direction: column;
                       align-items: center;
                     
                       text-align: center;
                       position: relative;
                       p{
                           font-weight: 400;
                       }
                       h2{
                           margin-bottom: 10px;
                           font-weight: 500;
                           img{
                               position: absolute;
                               width: 30px;
                               left: -25px; /* Размещаем изображение чуть справа от текста */
                               top: -3;
                               pointer-events: none;
                               user-select: none;
                              
                           }
                       }
       
                   }
                   .member-mail{
                       display: flex;
                       flex-direction: column;
                       align-items: center;
                       text-align: center;
                       position: relative;
                       p{
                           font-weight: 400;
                           
                       }
                       h2{
                           margin-bottom: 10px;
                           font-weight: 500;
                           img{
                               position: absolute;
                               width: 30px;
                               left: 20px; /* Размещаем изображение чуть справа от текста */
                               top: -3;
                               pointer-events: none;
                               user-select: none;
                               
                           }
                       }
                   }  
              }
        }
       

       .member-about{
            margin-top: 30px;
            width: 100%;
            padding: 30px 15px 30px 15px;
            background: #fff;
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            
            textarea{
                width: 100%;
                margin-bottom: 20px;
                height: 50%;
                border: 1px solid #3498db;
                border-radius: 5px;
                padding: 5px 10px;
                font-size: 15px;
                font-family: 'Montserrat', sans-serif;
                
                
                cursor: default;
            }
            p{
                margin-bottom: 10px;
            }
       }
    }

    .member-event{
        margin-top: 35px;
        background: #fff;
        padding: 30px 15px 30px 15px;
        width: 100%;
        border-radius: 15px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .profile-stat-event{
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            border: 1px solid #3498db;
            border-radius: 10px;
            margin-bottom: 10px;
            padding: 5px 10px;
            width: 90%;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            
        }
        
        p{
            font-weight: 400;
            font-size: 18px;
        }
        a{
            text-decoration: none;
            color: #fff;
            background-color: #4e77f4;
            border-radius: 10px;
            padding: 7px 10px;
            font-size: 18px;
        }
        ul{
            li{
                border: 1px solid #3498db;
                border-radius: 10px;
                margin-bottom: 10px;
                padding: 5px 10px;
            }
        }
    }
}



@media (max-width: 1000px){
    .member-block{
        flex-direction: column;
    }

    .member-block .member-firts .member-btn-admin-block{
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .member-block .member-firts .member-stat-social-block{
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }
    .member-block .member-second{
        width: 97%;
        margin-top: 25px;
    }
}






.admin-edit-block{
    border: 2px solid #4e77f4;
    border-radius: 11px;
    margin-top: 35px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fbfbfb;
    flex-wrap: wrap;
    margin-bottom: 100px;
   
    .admin-edit-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        .member-avatars{
            img{
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%;
                pointer-events: none;
                user-select: none;
                border: 4px solid #4e77f4;
            }
        }
        
        
        img{
            margin-bottom: 20px;
            pointer-events: none;
            user-select: none;

        }
        h2{
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 20px;
        }
        h3{
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 18px;
        }
        p{
            margin-bottom: 10px;
            font-weight: 400;
        }
        button{
            text-decoration: none;
            border-radius: 25px;
            background-color: #4e77f4;
            color: #fff;
            padding: 10px 15px;
            align-items: center;
            font-weight: 600;
            width: 87%;
            text-align: center;
            border: none;
            font-family: 'Montserrat', sans-serif;
        }

        .admin-input-role{
            width: 100%;
            margin-top: 30px;
            p{
                margin-top: 10px;
                margin-bottom: 1px;
            }
            select{
                width: 100%;
                font-size: 18px;
                margin-bottom: 20px;
                height: 44px;
                border: 2px solid #4e77f4;
                border-radius: 5px;
                padding: 5px 10px;
                font-family: 'Montserrat', sans-serif;
            }
        }
        
    }

    .admin-edit-input{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        
        .admin-edit-data{
            display: flex;
            flex-wrap: wrap;

            .input-width{
                width: 245px;
                margin-right: 20px;
               
                
                p{
                    margin-bottom: 10px;
                }
                input{
                    width: 100%;
                    font-size: 18px;
                    margin-bottom: 20px;
                    height: 44px;
                    border: 2px solid #4e77f4;
                    border-radius: 5px;
                    padding: 5px 10px;
                    font-family: 'Montserrat', sans-serif;
                    
                }
                select{
                    width: 100%;
                    font-size: 18px;
                    margin-bottom: 20px;
                    height: 44px;
                    border: 2px solid #4e77f4;
                    border-radius: 5px;
                    padding: 5px 10px;
                    font-family: 'Montserrat', sans-serif;

                }
            }
            
            
           
            
        }
        .member-about{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            textarea{
                width: 450px;
                margin-bottom: 20px;
                height: 50%;
                background: #fff;
                border-radius: 15px;
                padding: 5px 10px;
                font-size: 15px;
                box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
                font-family: "Montserrat", sans-serif;
                cursor: default;
            }
        }
    }
    
    .admin-edit-about{
        .data-event{
            p{
                font-weight: 500;
            }
            ul{
                margin-top: 20px;
                li{
                    border: 1px solid #3498db;
                    border-radius: 10px;
                    margin-bottom: 10px;
                    padding: 5px 10px;
                }
            }
        }
    }
}

.alert-success{
    text-align: center;
    margin-top: 20px;
    color: #1fac36;
}



/* Стили для главное страницы(гостевой) */

.main-action-block {
    height: 500px;
    background-size: cover; /* Изображение будет масштабироваться так, чтобы заполнить весь блок, сохраняя пропорции */
    background-position: center;
    display: flex;
    .main-action{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
        

        .main-action-text{
            h1{
                color: #4e77f4;
                font-size: 46px;
            }
            p{
                margin-top: 50px;
                font-size: 24px;
                color: #3F3E46;
                line-height: 30px;
            }
        }
        .main-action-btn{
            display: flex;
            justify-content: center;
            a{
                border: 2px solid #4e77f4;
                padding: 15px;
                width: 300px;
                border-radius: 15px;
                color: #fff;
                background-color: #4e77f4;
                text-decoration: none;
                font-weight: 600;
                transition: all .3s;
            }
            a:hover{
                
                background-color: #3498db;
            }
        }
    }
}

@media (max-width: 1000px){
    
    .main-action-block {
        .main-action{
            .main-action-text{
                h1{
                    color: #4e77f4;
                    font-size: 36px;
                }
                
            }
        }
    }
}

@media (max-width: 500px){
    .main-action-block {
        height: 500px;
        background-size: cover; /* Изображение будет масштабироваться так, чтобы заполнить весь блок, сохраняя пропорции */
        background-position: center;
        display: flex;
        .main-action{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 100px;
            
    
            .main-action-text{
                h1{
                    color: #4e77f4;
                    font-size: 26px;
                }
                p{
                    margin-top: 50px;
                    font-size: 14px;
                    color: #3F3E46;
                    line-height: 30px;
                }
            }
            .main-action-btn{
    
                a{
                border: 2px solid #4e77f4;
                padding: 15px;
                width: 200px;
                border-radius: 15px;
                color: #fff;
                background-color: #4e77f4;
                text-decoration: none;
                font-weight: 600;
                transition: all .3s;
                }
                a:hover{
                
                }
            }
        }
    }
}


.main-about-block{
    
    .main-about-logo{
        color: #4e77f4;
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .main-about-text{
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 20px;
        background-color: rgb(226 245 251);
        padding: 20px;
        border-radius: 15px;
        font-weight: 500;
        box-shadow: 10px 10px 0 rgba(61, 103, 255, 0.4392156863);
    border: 1px solid rgba(61, 103, 255, 0.4392156863);
        

    }
    .main-about-stats-text{
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 30px;
        text-align: center;
        color: #4e77f4;
        
    }
    .main-about-stats{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 80px;
    }
}

.main-block-feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    
    
    h1{
        text-align: center;
        margin-bottom: 50px;
        font-size: 30px;
        color: #4e77f4;
       
    }
    .feature-items-block:nth-child(3) {
        
        padding-top: 20px;
    }
    .feature-items-block{
        display: flex;
        
        align-items: center;
        flex-grow: 1;
        flex-wrap: wrap;
        border-bottom: 3px solid #4e77f4;
       
        
        .feature-item{
            width: 30%;
            height: 230px;
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            padding: 10px;
            gap: 10px;
           

               
            
            img{
                width: 100px;
                height: 100px;
            }

            p:nth-child(2){
                font-weight: 700;
                font-size: 20px;
                color: #4e77f4;
            }

            p{
                text-align: center;
                font-size: 16px;
                font-weight: 400;
               
            }
            
        }
    }
}

// АДАПТИВ ДЛЯ БЛОКА ЗАНЯТИЙ 

@media (max-width: 500px){
    .main-block-feature{
        
        
        
        h1{
            
           
        }
        .feature-items-block:nth-child(3) {
            padding-bottom: 50px;
            padding-top: 20px;
        }
        .feature-items-block{
          
                
             
            
            .feature-item{
                width: 50%;
                
                   
                
                img{
                    
                }
    
                p:nth-child(2){
                    
                }
    
                p{
                    
                   
                }
                
            }
        }
    }
}

@media (max-width: 800px){
    .main-block-feature{
        
        
        
        h1{
            
           
        }
        .feature-items-block:nth-child(3) {
            padding-bottom: 50px;
            padding-top: 20px;
        }
        .feature-items-block{
          
                
             
            
            .feature-item{
                width: 50%;
                
                   
                
                img{
                    
                }
    
                p:nth-child(2){
                    
                }
    
                p{
                    
                   
                }
                
            }
        }
    }
}



// ТАБЛИЦА УПРАВЛЕНИЯ МЕРОПРИЯТИЯМИ

.container_tb{
    width: 75%;
    margin: 0 auto;
    border: 2px solid #4e77f4;
    border-radius: 5px;
    margin-top: 3rem;
    background-color: #fff;

    .table-flex{
        overflow-x: auto;
    }
}

.tb_events{
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    thead{
        tr{
           th{
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: #4e77f4;
                color: #fff;
           }
           th:nth-child(2){         
             }
        }
    }

    tbody{
        tr{
            transition: all .3s;
            td{
                text-align: center;
                padding: 20px;
                vertical-align: middle;

                a{  
                    display: flex;
                    justify-content: center;
                    padding: 3px;
                    color: #3498db;
                    border-radius: 5px;
                    margin: 0 auto;
                    width: 20px;
                    border: 1px solid #4e77f4;
                }
                img{
                    border-radius: 5px;
                    height: 65px;
                    object-fit: cover;
                    
                }
                .settings-event-btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    a{ 
                        text-decoration: none;
                        border-radius: 6px;
                        background-color: #4e77f4;
                        color: #fff;
                        padding: 5px 5px;
                        width: 40px;
                        text-align: center;
                        border: none;
                        font-family: 'Montserrat', sans-serif;
                        img{
                            
                            height: 20px;
                            
                        }
                    }
                }
                
               
                
               
            }
            

            td:not(:last-child){
                border-right: 1px solid rgb(178 197 255 / 64%);
            }

           
            
            
            
        }

        tr:hover{
            background-color: rgb(178 197 255 / 64%);
        }
        tr:nth-child(even):hover{
            background-color: rgb(178 197 255 / 64%);
        }

        tr:nth-child(even){
            background-color: #b2c5ff38;
         }

        
    }

}



@media (max-width: 1000px){
    .tb_members{
        display: block;
        width: 100%;
    }
    .tb_events thead,
    .tb_events tbody,
    .tb_events thead th
    {
        display: block;
    }

    .tb_events thead {
        float: left;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .tb_events thead th:first-child {
        
        padding-top: 64px;
        padding-bottom: 51px;
    }

    .tb_events thead th:last-child {
        
        padding-bottom: 0;
    }
    .tb_events tbody tr td:first-child {
        height: 104px;
    }

    .tb_events tbody tr td:last-child {
        margin-bottom: 5px;
    }

    .tb_events thead th {
        width: 144px;
        height: 50px;
    }
    .tb_events tbody {
        overflow-x: auto;
    }

    .tb_events thead tr {
        
        

    }
    .container_tb {
        width: 95%;
    }

    .tb_events tbody tr {
        display: table-cell;
        border-right: 1px sollid #ccc;

    }

    .tb_events td {
        display: block;
        
    }

    .tb_events tbody tr:last-child {
        border-right: none;
    }
    .tb_events td{
        border-right: none;
    }

    .tb_events td, .tb_events th {
        
    }

}

@media (max-width: 500px){

    .tb_events thead th {
        width: 105px;
        font-size: 16px;
        
    }

    .tb_events thead th:first-child {
        padding-top: 90px;
        padding-bottom: 18px;
    }

    .tb_events thead th:last-child {
        
        padding-bottom: 5;
    }
}



